# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/

# Logs
*.log

# Virtualenv
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Build (PyInstaller)
build/
dist/
*.spec

# Build artifacts
*.zip


# .NET build
bin/
obj/
.vs/

# Runtime logs
logs/
